$mdc-theme-primary: #09d3ac;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;

@import "@material/react-button/index.scss";
@import "@material/button/mixins";

// .button-alternate {
//   @include mdc-button-ink-color(#09d3ac);
// }
